body {
  padding: 2em;
}
  
#study-information {
  width: 60%;
}

#survey-form {
  width: 60%;
  margin-top: 0em;
  padding-top: 2em;
}

fieldset {
  margin-bottom: 1em;
}

legend {
  font-weight: bold;
}

fieldset.submit {
  border: none;
  text-align: center;
}

.preview {
  width: 50%;
  padding-left: 5em;
  margin-bottom: 2em;
}

.screenshot {
  width: 300px;
  margin-left: auto;
  margin-right: auto;
}

