body {
  padding: 2em;
}
  
#study-information {
  -webkit-column-count: 2; 
  -webkit-column-rule: 1px solid #bbb;
  -webkit-column-gap: 2em;
}

#consent-form {
  margin-left: auto;
  margin-right: auto;
  width: 60%;
  margin-top: 0em;
  padding-top: 2em;
}

fieldset {
  margin-bottom: 1em;
}

fieldset.submit {
  border: none;
  text-align: center;
}

